/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color: #0E294B !important;
    font-family: 'Lato', sans-serif !important;
    color:white;
}
